<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Álcool ou Gasolina</ion-title>
    <ion-button
      routerLink="/historico"
      expand="full"
      color="secondary"
      class="ion-margin-top"
    >
      <ion-icon slot="start" name="bookmarks-outline"></ion-icon>
      Teste para Histórico
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img class="logo-principal" src="/assets/logo.png"></ion-img>
      </ion-col>

      <ion-col size="12">
        <h4>Saiba qual é a melhor opção para o seu carro.</h4>
      </ion-col>

      <ion-col size="12">
        <ion-item fill="outline" shape="round" class="ion-margin-bottom">
          <ion-label position="floating">Nome do Posto (Opcional)</ion-label>
          <ion-input type="text" [(ngModel)]="nomePosto"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" class="ion-margin-bottom">
          <ion-label position="floating">Preço álcool, ex: 3.50</ion-label>
          <ion-input type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" class="ion-margin-bottom">
          <ion-label position="floating">Preço gasolina, ex: 5.00</ion-label>
          <ion-input type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="calcular()">Calcular</ion-button>
      </ion-col>
    </ion-row>

    @if (resultado) {
    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">{{resultado}}</h5>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
